.left_nav_container {
    position: fixed;
    border-right: 1px solid lightgrey;
    background-color: #fafbfc;
    /* position: absolute; */
    /* min-height: 100vw; */
    bottom: 0;
    left: 0;
    top: 59px;
    min-width: 230px;
    /* z-index: -1; */
    box-shadow: inset -2px 0 5px -2px #dfe2e6;
    padding: 20px;
}

.close_nav {
    display: none;
    visibility: hidden;
    right: 0;
    margin-right: -5%;
    margin-top: 5%;
    background-color: #fff;
    border-radius: 50%;
    border: 1px solid lightgrey;
    box-shadow: 0px 1px 5px 0px #dfe2e6;
    padding: 3px;
    position: absolute;
}

.left_nav_container:hover .close_nav {
    display: inline;
    visibility: visible;
}

.close_nav:hover {
    background-color: #4c9aff;
    color: #fff;
    cursor: pointer;
}

/* .hide_nav {
    visibility: hidden;
} */

/* .hide_nav:checked .left_nav_container {
    tranform: translateX(-100%);
    transition: transform .3s;
    margin: 0;
    visibility: hidden;
} */

.left_nav_header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 70%;
}

.left_nav_header img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.left_nav_header h1 {
    font-size: 12pt;
    color: #374a66;
    margin-bottom: -10px;
}

.left_nav_header p {
    color: #727f93;
    font-size: 10.5pt;
    font-weight: 500;
}

.left_nav_container h2 {
    font-size: 9pt;
    margin-left: 7px;
    color: #374a66;
}

.left_nav_icon {
    margin-right: 20px;
}

.left_nav_container ul li {
    list-style-type: none;
    margin-left: -38px;
    left: 0;
    display: flex;
    font-size: 11.5pt;
    color: #374a66;
    padding: 7px 5px;
}

.left_nav_container ul li:hover {
    background-color: #e6effc;
    color: #0355cd;
    border-radius: 3px;
}

.left_nav_link {
    text-decoration: none;
    color: #374a66;
}

hr {
    background-color: #e8e9ed;
    border: none;
    height: 2px;
}

.left_nav_footer {
    position: absolute;
    bottom: 0;
    color: #505f79;
    font-size: 9pt;
    font-weight: 500;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.left_nav_footer a {
    margin: 10px 0 20px 0;
    text-decoration: none;
    color: #505f79;
}

.left_nav_footer a:hover {
    text-decoration: underline;
    color: grey;
}